.Header-container {
  background-color: #000032;
  height: 72px;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

.Menu-container {
  display: flex;
  align-items: center;
  color: white;
}

.Menu-button {
  cursor: pointer;
  margin-left: 40px;
}