.Content-container {
  background-image: url('../assets/hero.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  padding: 3vw 10vw;
  background-color: #dcdce6;
}

.Hero-title {
  font-size: 4vw;
  color: #191919;
  width: 62vw;
  margin: 20px 0;
}

.Hero-subtitle {
  font-size: 2vw;
  color: #454554;
  font-weight: bold;
  margin: 10px 0;
}

.Hero-search {
  font-weight: 700;
  color: #1b1b21;
  outline: none;
  width: 60vw;
  height: 5vw;
  min-height: 24px;
  text-indent: 2vw;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 50 / 4%);
  font-size: 1.5vw;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.Hero-input-wrapper {
  position: relative;
  width: 60vw;
}

.Hero-search-button {
  height: 4vw;
  min-height: 20px;
  padding: 0 24px;
  background-color: #1a66ff;
  color: #fff;
  position: absolute;
  top: 0.5vw;
  right: 0.4vw;
  border: none;
  font-size: 1.5vw;
  font-weight: 600;
  cursor: pointer;
}

.Categories-section {
  margin-top: 4vw;
}

.Categories-explore-label {
  font-size: 1.5vw;
  color: #191919;
  font-weight: 500;
}

.Categories-viewall-button {
  background-color: #fff;
  color: #1a66ff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  height: 3vw;
  min-height: 20px;
  font-size: 1.3vw;
  font-weight: 600;
}

.Categories-explore-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Carousel-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.RecentReviews-title {
  padding: 0 24px 24px;
  margin: 0;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: center;
  color: #1b1b21;
}
