.Content-container {
  background-image: url('../assets/hero.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  padding: 4vw 10vw;
}

.Hero-title {
  font-size: 4vw;
  color: #191919;
  width: 62vw;
}

.Hero-subtitle {
  font-size: 2vw;
  color: #454554;
  font-weight: bold;
}